$white: #ffffff;
$pot-black: #161616;
$asphalt: #170808;
$nero: #252525;
$machine-gun-metal: #454545;
$puissant-purple: #7921d1;
$blackcurrant: #2b1734;
$amarklor-violet: #540a9d;
$vega-violet: #a852ff;
$ottoman-red: #ea2424;
$arterial-blood-red: #721414;